:root.light {
    --header-color: #eef2ff;
    --book-div-color: #ecfeff;
    --book-color: #eef2ff;
    --footer-color: white;
}

:root.dark {

}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
}

#main-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--book-div-color);
}

#button-div {
    justify-self: center;
    align-self: center;
}

#book-div {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
}

.book {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: var(--book-color);
}

#footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: var(--footer-color);
}