@font-face {
    font-family: 'Bebas';
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Jaldi';
    src: url(fonts/Jaldi-Regular.ttf);
}

:root.light {
    --text-color: black;
    --header-color: #f4f4f5;
    --login-bg-color: #e9e9ec;
    --book-div-color: #f1f5f9;
    --book-color: #fafafa;
    --footer-color: #f1f5f9;
    --button-bg-hover-color: #d4d4d8;
    --modal-bg-color: #f4f4f5;
}

:root.dark {
    --text-color: white;
    --header-color: #52525b;
    --login-bg-color: #3e3e44;
    --book-div-color: #475569;
    --book-color: #71717a;
    --footer-color: #475569;
    --button-bg-hover-color: #27272a;
    --modal-bg-color: #52525b;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--book-div-color);
}

button {
    border: none;
    border-radius: 0.2rem;
}

button:hover {
    background-color: var(--button-bg-hover-color) !important; 
    cursor: pointer;
}

#header {
    padding: 0 3rem 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    z-index: 1;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.4);
    min-height: 11vh;
    max-height: 13vh;
}

#header div {
    display: flex;
    gap: 2rem;
}

#header p {
    font-family: 'Bebas';
    font-size: 2rem;
}

img[src*='theme'] {
    height: 2rem;
    width: 2rem;
}

img[src*='theme-light'] {
    transform: rotate(180deg);
}

#theme-btn {
    width: 4rem;
    background-color: var(--footer-color);
}

#login-btn {
    width: 6rem;
    font-size: 1.2rem;
    background-color: var(--login-bg-color);
}

.hidden {
    display: none !important;
}

#main-content {
    padding: 2rem;
    min-height: 21rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--book-div-color);
}

#button-div {
    justify-self: center;
    align-self: center;
}

#button-div button {
    width: 8rem;
    height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    background-color: var(--book-div-color);
    color: var(--text-color);
}

#book-div {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 6rem;
}

.book {
    font-family: 'Jaldi';
    border-radius: 1rem;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.4);
    background-color: var(--book-color);
    font-size: 1.4rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 1rem 0;
}

.book p {
    margin: 0;
}

.book button {
    font-family: 'Jaldi';
    height: 2rem;
    width: 15rem;
    font-size: 1.3rem;
    line-height: 1rem;
}

.read {
    background-color:rgb(136, 211, 136);
}

.not-read {
    background-color: rgb(247, 133, 133);
}

#footer {
    display: flex;
    justify-content: center;
    background-color: var(--footer-color);
}

#footer img {
    vertical-align: middle;
}

.hidden {
    display: none;
}

.overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-active {
    display: block;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100;
    background-color: var(--modal-bg-color);
    border-radius: 1rem;
    font-size: 1.2rem;
    font-family: 'Jaldi';
}

#input-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

li {
    list-style: none;
}

input {
    font-size: 1.2rem;
    font-family: 'Jaldi';
}

form button {
    height: 2rem;
    width: 15rem;
    font-size: 1.2rem;
    font-family: 'Jaldi';
    text-align: center;
    background-color: rgb(136, 211, 136);
}

.error {
    height: 1rem;
    font-size: 0.9rem;
}





